@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* ==========================
   Theme Variables
========================== */

:root {
  --bg: #ffffff;
  --bg-secondary: #f8f9fa;
  --card: #ffffff;

  --text: #212529;
  --text-light: #6c757d;

  --border: #e9ecef;

  --primary: #ffc800;

  --navbar: rgba(255, 255, 255, .08);

  --shadow: 0 10px 30px rgba(0, 0, 0, .08);
}

/* ==========================
   Dark Theme
========================== */

body[data-theme="dark"] {

  --bg: #0f172a;

  --bg-secondary: #111827;

  --card: #1e293b;

  --text: #f8fafc;

  --text-light: #cbd5e1;

  --border: #334155;

  --primary: #ffc800;

  --navbar: rgba(15, 23, 42, .75);

  --shadow: 0 10px 30px rgba(0, 0, 0, .45);
}

/* ==========================
   Global
========================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {

  font-family: "Poppins", sans-serif;

  font-size: 20px;

  font-weight: 600;

  line-height: 1.6;

  color: var(--text);

  background: var(--bg);

  transition:
    background-color .35s ease,
    color .35s ease;

  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;

  -webkit-text-size-adjust: 100%;

  -webkit-tap-highlight-color: transparent;

}

section{
  transition: .35s;
}

img{
  max-width:100%;
  display:block;
}